p,li {
   color: rgb(116, 17, 17); 
   font-size: 18px;
   list-style-type: none;
   padding: .5em;
   font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
    padding-left: 0;
}
.flex {
    display: flex;
	justify-content: center;
}
h1 {
    color: black;
    font-size: 30px;
    line-height: 1;
    text-align: center;
}
html {
    background-color: rgb(235, 227, 213);
}
body {
    width: 600px;
    margin: 0 auto;
}
li.n1 {
    list-style-type: circle;
    font-size: 18px;
    font-weight: bold;
}


a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    display: inline-block;
  }
  
  a:link {
    color: #265301;
  }
  
  a:visited {
    color: #437A16;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
  }
  
  a:active {
    background: #265301;
    color: #CDFEAA;
  }


img {
    width: 100%;
}
div.center {
    text-align: center;
}
dl {
    font-weight: black;
}